{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulse &amp; Pen - BP Journal &amp; LifeTracker</title>
    <link rel="stylesheet" href="{% static 'heartline/css/style.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="navbar-brand">
            Pulse &amp; Pen
        </div>

        <nav class="navbar-links">
        <a href="#">home</a>
        <a href="#">BP Entries</a>
        <a href="#">Journal</a>
    </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; Pulse &amp; Pen</p>
    </footer>
</body>
</html>