{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulse &amp; Pen - BP Journal &amp; LifeTracker</title>
    <link rel="stylesheet" href="{% static 'heartline/css/style.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="navbar-brand">
            Pulse &amp; Pen
        </div>

        <nav class="navbar-links">
            <a href="#">Home</a>
             <a href="{% url 'bpentry-list' %}">BP Entries</a>
            <a href="#">Journal</a>

            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="navbar-logout-button">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        </nav>
    </header>

    <!-- Page main area: this will take up the space between navbar and footer -->
    <main class="page-main">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer">
        <p>&copy; Pulse &amp; Pen</p>
    </footer>
</body>
</html>